<h1>Listing ads</h1>
<%= will_paginate(@ads , renderer: BootstrapPagination::Rails, class: "pagination pagination-sm", previous_label: "<<" , next_label: ">>") %>
<table>
  <tr>
    <th>Brand</th>
    <th>Car model</th>
    <th>User name</th>
    <th>Girbox</th>
    <th>Internal color</th>
    <th>Cover color</th>
    <th>Price</th>
    <th>Fuel type</th>
    <th>car status</th>
    <th>Mileage</th>
    <th>Year</th>
    <th>exchang</th>
    <th>Detail</th>
    <th>View count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.car_model.brand.name %></td>
    <td><%= ad.car_model.name %></td>
    <td><%= ad.user.full_name %></td>
    <td><%= ad.girbox %></td>
    <td><%= ad.try(:internal_color).try(:name) %></td>
    <td><%= ad.try(:cover_color).try(:name) %></td>
    <td><%= ad.price %></td>
    <td><%= ad.fuel_type %></td>
    <td><%= ad.car_status %></td>
    <td><%= ad.mileage %></td>
    <td><%= ad.year %></td>
    <td><%= ad.exchange %></td>
    <td><%= ad.detail %></td>
    <td><%= ad.view_count %></td>
    <% if can? :show, ad %>
        <td><%= link_to 'Show', ad %></td>        
    <% end %>

    <% if can? :edit, ad %>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <% end %>
    
    <% if can? :destroy, ad %>
        <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>

