<h1>Listing users</h1>

<table>
  <tr>
    <th>first Name</th>
    <th>last Name</th>
    <th>email</th>
    <th>tel</th>
    <th>city name</th>
    <th>mobile</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.tel %></td>
    <td><%= user.try(:city).try(:name) %></td>
    <td><%= user.mobile %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>


  </tr>
<% end %>
</table>

<br />


