<div class="col-sm-3 user">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @user.first_name %> profile</h3>
    </div>
    <div class="panel-body">
      <p>
        <b>first Name:</b>
        <%= @user.first_name %>
      </p>

      <p>
        <b>last Name:</b>
        <%= @user.last_name %>
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Contact Details</h3>
    </div>
    <div class="panel-body">
      <p>
        <b>email:</b>
        <%= @user.email %>
      </p>

      <p>
        <b>tel:</b>
        <%= @user.tel %>
      </p>

      <p>
        <b>mobile:</b>
        <%= @user.mobile %>
      </p>

      <p>
        <b>state:</b>
        <%= @user.city.try(:state).try(:name) %>
      </p>

      <p>
        <b>city:</b>
        <%= @user.try(:city).try(:name) %>
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Conect Details</h3>
    </div>
    <div class="panel-body">
      <p>
        <b>created_at:</b>
        <%= time_ago_in_words(@user.created_at) + " ago"  %>
      </p>

      <p>
        <b>updated_at:</b> 
        <%= time_ago_in_words(@user.updated_at) + " ago"  %>
      </p>

      <%#= link_to 'add new ad', new_ad_path %><br/>
      <%#= link_to 'Edit profile', edit_user_registration_path %>
      <%#= link_to 'Back', users_path %>
    </div>
  </div>
</div>
<div class="col-sm-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">all <%= @user.first_name %> ads</h3>
    </div>
    <div class="panel-body">
      <%= @user.ads.each do |ad| %>
        <p><%= ad %></p>
      <% end %>
    </div>
</div>
     