<h1>Listing galeries</h1>

<table>
  <tr>
    <th>Galery name</th>
    <th>user name</th>
    <th>Address</th>
    <th>Tel</th>
    <th>Details</th>
    <th>State</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @galeries.each do |galery| %>
  <tr>
    <td><%= galery.galery_name %></td>
    <td><%= galery.user.full_name %></td>
    <td><%= galery.address %></td>
    <td><%= galery.tel %></td>
    <td><%= galery.detail %></td>
    <td><%= galery.city.try(:state).try(:name)%></td>
    <td><%= galery.try(:city).try(:name) %></td>
    <% if can? :show, galery %>
      <td><%= link_to 'Show', galery %></td>
    <% end %>

    <% if can? :edit, galery %>  
      <td><%= link_to 'Edit', edit_galery_path(galery) %></td>
    <% end %>  

    <% if can? :destroy, galery %>
      <td><%= link_to 'Destroy', galery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>  
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Galery', new_galery_path %>
