<p>
  <%= image_tag  @galery.photo.url(:large) %>
</p>

<p>
  <b>Galery name:</b>
  <%= @galery.galery_name %>
</p>

<p>
  <b>user(manager):</b>
  <%= @galery.user.full_name %>
</p>

<p>
  <b>Address:</b>
  <%= @galery.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @galery.tel %>
</p>

<p>
  <b>Details:</b>
  <%= @galery.details %>
</p>

<p>
  <b>State:</b>
  <%= @galery.city.try(:state).try(:name) %>
</p>

<p>
  <b>City:</b>
  <%= @galery.try(:city).try(:name) %>
</p>


<%= link_to 'Edit', edit_galery_path(@galery) %>
<%#= link_to 'Back', galeries_path %>
