<div class="col-sm-4 galery_show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @galery.galery_name %> galery</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-xs-5 control-label">GaleryName</label>
            <div class="col-xs-7"> 
              <p class="form-control-static">
                <%= @galery.galery_name %>
              </p>
            </div>
        </div>
        
        <div class="form-group">
          <label class="col-xs-5 control-label">manager</label>
            <div class="col-xs-7"> 
              <p class="form-control-static">
                <%= @galery.manager.full_name %>
              </p>
            </div>
        </div>

        <div class="form-group">
          <label class="col-xs-5 control-label">Address</label>
            <div class="col-xs-7"> 
              <p class="form-control-static">
                <%= @galery.address %>
              </p>
            </div>
        </div>

        <div class="form-group">
          <label class="col-xs-5 control-label">Tel</label>
            <div class="col-xs-7"> 
              <p class="form-control-static">
                <%= @galery.tel %>
              </p>
            </div>
        </div>

        <div class="form-group">
          <label class="col-xs-5 control-label">Details</label>
            <div class="col-xs-7"> 
              <p class="form-control-static">
                <%= @galery.detail %>
              </p>
            </div>
        </div>
    </form>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> Location </h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-xs-5 control-label">State</label>
            <div class="col-xs-7"> 
              <p class="form-control-static">
                <%= @galery.city.try(:state).try(:name) %>
              </p>
            </div>
        </div>

        <div class="form-group">
          <label class="col-xs-5 control-label">City</label>
            <div class="col-xs-7"> 
              <p class="form-control-static">
                <%= @galery.try(:city).try(:name) %>
              </p>
            </div>
        </div>
        
        <div class="form-group">
          <label class="col-xs-5 control-label">
            <%= link_to 'Edit', edit_galery_path(@galery) %>
            <%#= link_to 'Back', galeries_path %>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="leftContent" class="col-sm-8">
  <div id="cover">
    <div class="coverImage">
      <img class="img-responsive" src="http://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/default_cover.jpg" >
    </div>  
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @galery.galery_name %> galery ads </h3>
    </div>
    <div class="panel-body">
      <% @galery.users.first.ads.each do |ad| %>
        <p><%= ad.id %></p>
      <% end %>
    </div>  

</div>