<%= simple_form_for(@city, html: {class: "form-horizontal"},
   defaults: {
    input_html: { class: 'form-control' },
    wrapper_html: { class: ' col-sm-10' },
    label: false
  }
) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group  col-sm-10">
  <%= f.label :state, "State", class: "col-sm-2 control-label" %>
  <%= f.association :state  %>   
</div>
<div class="form-group  col-sm-10"> 
  <%= f.label :name ,class: "col-sm-2 control-label"%>
  <%= f.input :name %>
</div>

<div class="form-group  col-sm-10">  
  <%= f.label :latitude ,class: "col-sm-2 control-label"%>
  <%= f.input :latitude %>
</div>

<div class="form-group  col-sm-10">
  <%= f.label :longitude ,class: "col-sm-2 control-label"%>
  <%= f.input :longitude %>
</div>

  <div class="form-group  col-sm-10">
    <div class=" col-sm-5 pull-left">      
      <%= f.button :submit ,class: "btn btn-block btn-primary" %>
    </div>
    <div class= "col-sm-5 pull-left">      
   
      <%= link_to 'Back', cities_path, class: "btn btn-block btn-primary" %>
    </div>
  </div>
<% end %>
