<div id="search_ads_index">
	<%= render 'search_form' %>
	<%#= @ads.size %> 
	<div class="content col-sm-10 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<% if @ads.any? %>
					<% @ads.each do |ad| %>
						<a href="<%= ad_path(ad.id) %>">
							<div id="search_ads_raw" class="row"> 
								<div class="ad-pic col-sm-3">
									pic place
								</div>
								<div class="ad-info col-sm-3">
									<%= ad.car_model.name %><br>
									<%= ad.year%><br>
									<%= ad.detail%><br>
								</div>
								<div class="ad-date col-sm-3">	
									<%= time_ago_in_words(ad.updated_at) + " ago" %>
								</div>	
								<div class="ad-price col-sm-3">	
									<%= ad.price %>
								</div>	 
							</div>
						</a>
					<% end %>	
				<% else %>	
					<p>There is no record with this conditions.</p>
				<% end %>

				<div id="page">
					<%= will_paginate(@ads , renderer: BootstrapPagination::Rails, class: "pagination pagination-sm", previous_label: "<<" , next_label: ">>") %>
					<%#= (ap params).html_safe  %> <br>

					<%#= (ap @ads).html_safe  %> <br>
					<%#=@search_ad.inspect  %> <br>
				</div>
			</div>
		</div>
	</div>
</div>