
<%= render 'search_form' %>
<%= will_paginate(@ads , renderer: BootstrapPagination::Rails, class: "pagination pagination-sm", previous_label: "<<" , next_label: ">>") %>
<%#= @ads.size %> <hr>
<ul>
	<% if @ads.any? %>
		<% @ads.each do |ad| %>
			<li> 
				<%= link_to( ad.car_model.brand.name, ad) %><br>
				<%= ad.car_model.name %><br>
				<%= ad.year%><br>
				<%= ad.detail%><br>
				<%= time_ago_in_words(ad.updated_at) + " ago" %><br>
				<%= ad.price %> <hr>
			</li>
		<% end %>	
	<% else %>	
		<p>There is no record with this conditions.</p>
	<% end %>
</ul>

<%#= (ap params).html_safe  %> <br>

<%#= (ap @ads).html_safe  %> <br>
<%#=@search_ad.inspect  %> <br>
