<!DOCTYPE html>
<html>
<head>
  <title>otoyabi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'navbar' %>

	<div id="main-content" class="container">
		<%# Rails flash messages styled for Twitter Bootstrap 3.0 %>
		<% flash.each do |name, msg| %>
	  	<% if msg.is_a?(String) %>
	    	<div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
	      	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	    	</div>
	  	<% end %>
		<% end %>
	<%= yield %>
	</div>
</body>
</html>